#menu_bar{
        background-color: #273746;
        width:100%;
        display:flex;
}
img.logo{
        margin-left:1.5em;
        -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img.logo:hover{
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

a.menu_bar{
        text-decoration:none;
        color:#ea5d16;

}

ul.menu_bar{
        display: flex;
}
li.menu_bar{
        list-style:none;
        margin-right:3em;
        font-size:1.5em;
        margin-top:0.7em;
}

a.menu_bar::after,
a.sign_up::after,
a.login::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s
        text-decoration:none;
}
a.menu_bar:hover::after,
a.sign_up:hover::after,
a.login:hover::after{
        width: 100%;
        transition: width .3s;

}

a.menu_bar:hover,
a.sign_up:hover,
a.login:hover{
        color:#77C9C4;
        text-decoration:none;
}

.noLogin{
        margin-left:30em;
}

.dropdown_button {
  background-color: #ea5d16;
  color: white;
  padding-right:2em;
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-size: 1.3em;
  border: none;
  margin-top:0.5em;
  margin-bottom:-0.5em;
  width:100%;
}

.dropdown {
  position: relative;
  display: inline-block;

}
.displayed_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.displayed_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.displayed_content a:hover {background-color: #ddd;}

.dropdown:hover .displayed_content {display: block;}

.dropdown:hover .dropdown_button {background-color: #77C9C4;}
